/* reset css */
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#main {
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.text-header {
  transition: transform 0.3s ease;
}
.text-header:hover {
  border-bottom: 2px solid #7bb1ff !important;
  transform: scale(1.2);
}
.news-selection {
  margin: 0px 105px;
  padding: 45px 0px;
}
.caption-news {
  display: flex;
  justify-content: space-between;
}
.news-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-item {
  position: relative;
  display: flex;
  width: 25%;
  height: 100%;
  padding: 24px 8px;
  border: none;
  /* transition: changeForm 0.5s ease; */
}
/* .news-item:hover {
  text-decoration: solid;
} */
.image-news {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 18px;
  transition: transform 0.5s ease;
}
.news-text-content {
  position: absolute;
  width: 80%;
  overflow: hidden;
  color: #fff;
  bottom: 0;
  margin: 0px 0px 30px 20px;
}
.image-news:hover {
  transform: scale(1.05);
}
.text-caption {
  font-size: 13px;
}
.sub-text {
  font-size: 12px;
  color: #ffff;
  width: 100%;
  overflow: hidden;
}
.btn-more {
  position: relative;
  border: none;
  color: blue;
  padding: 0px 35px;
  border-radius: 35px;
}
.more-btn {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.8;
  padding: 5px 35px;
  border-radius: 35px;
  position: relative;
}
.btn-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  border: 3px dashed blue;
  opacity: 0;
  transition: opacity 0.5s;
}
.more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  border: 3px dashed white;
  opacity: 0;
  transition: opacity 0.5s;
}
.btn-more:hover::before {
  opacity: 1;
  animation: border-transition 700ms forwards;
}
.more-btn:hover::before {
  opacity: 1;
  animation: change-more 700ms forwards;
}
@keyframes border-transition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    border: 3px dashed blue;
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    border: 3px solid blue;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes change-more {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    border: 3px dashed white;
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    border: 3px solid white;
    opacity: 1;
    transform: scale(1);
  }
}
